body {
	text-align: center;
	color: #D56D03;
	margin: 0;
	font-weight: bold;
}

html {
	background: url("jeopardygame.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.hosts {
	position: fixed;
	bottom: 0px;
	right: 0px;
	font-size: 14px;
}

.hosts img {
	display: inline-block;
	padding-left: 10px;
	width: 100px;
	border-radius: 50%;
}
