body {
	text-align: center;
	color: #D56D03;
	margin: 0;
}

html {
	background: url("jeopardygame.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

.hosts {
	position: fixed;
	bottom: 0px;
	right: -300px;
	margin: 0;
	display: inline-block;
}

.hosts img {
	width: 10%;
	border-radius: 25%;
	margin: auto;
	padding: 10px;
	display: inline-block;
}
